#header {
    height: 100px;
    background-image: url('./heading.png');
    background-repeat: no-repeat;
    background-position: 70% 30%;
    text-align: center;
}

.btn {
    position: absolute;
    right: 0; 
    margin: 20px;
    opacity: 1.0;
}

#totalCnt {
    margin: 20px;
    opacity: 1.0;
}